<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIAppFonts</key>
    <array>
        <string>SpaceGrotesk.ttf</string>
    </array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>google-signin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.8577865405-u9313lunreqchsroqjeb9ktbafqjm67f</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.gas.Burner</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>burner</string>
			</array>
		</dict>
	</array>
	<key>NSFamilyControlsUsageDescription</key>
	<string>This app uses Family Controls to help you stay focused during events by blocking distracting apps when Burner Mode is enabled.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show you nearby events and help you discover what's happening around you.</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
